{% extends "learning_logs/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Add a new topic:</p>
                <form action="{% url 'learning_logs:new_topic' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Add Topic</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
