{% extends 'learning_logs/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Topic: {{ topic }}</p>
                <p>Entries:</p>
                <p>
                    <a href="{% url 'learning_logs:new_entry' topic.id %}" class="btn btn-primary">Add New Entry</a>
                </p>
                <ul class="list-group">
                {% for entry in entries %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>{{ entry.date_added|date:'M d, Y H:i' }}</span>
                            <span>
                                <a href="{% url 'learning_logs:edit_entry' entry.id %}" class="btn btn-sm btn-secondary">Edit Entry</a>
                            </span>
                        </div>
                        <p>{{ entry.text|linebreaks }}</p>
                    </li>
                {% empty %}
                    <li class="list-group-item">There are no entries for this topic yet ¯\_(ツ)_/¯</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
